<div id="flash-errors-explanation" class="container">
  <div class="alert alert-danger">
    <h2><%= t('flash_message_errors', count: record.errors.count) %></h2>
    <ul>
      <% record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
