<div id="flash-messages" class="container">
  <% flash.each do |type, message| %>

    <div class="alert alert-<%= type == 'notice' ? 'primary' : 'danger' %> alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>
